apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{.ProjectName}}-content
  namespace: {{.Namespace}}
  labels:
    app.kubernetes.io/name: {{.ProjectName}}
    app.kubernetes.io/instance: {{.ProjectName}}
    app.kubernetes.io/component: storage
    app.kubernetes.io/managed-by: displace
  annotations:
    description: "Persistent storage for PHP content"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{.StorageSize}}
  storageClassName: {{.StorageClass}}
