# PHP
/vendor/

# IDE
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Project credentials
.credentials

# Backups
/backups/

# Docker
docker-compose.override.yaml

# Logs
*.log
