# {{.ProjectName}} Local Development
# Use: docker-compose up -d

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html
    environment:
      - PHP_OPCACHE_VALIDATE_TIMESTAMPS=1
    networks:
      - {{.ProjectName}}-network

networks:
  {{.ProjectName}}-network:
    driver: bridge
